@import "../../vars.css";

.containerNoPadding {
    position: block;
    align-items: center;
    z-index: 1;
    height: 80vh;
    width: 80vw;
    padding-left: 0;
    padding-top: 1%;
}

.contentRelativeContainer {
    display: flex;
    z-index: 10;
}
.content {
    display: relative;
    height: 70vh;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    margin-left: 8%;
    padding-top: 15%;
    padding-left: 3%;
    z-index: 100;
}

.callToAction {
    left: 100px;
    text-align: justify;
    width: 50%;
}

.title {
    font-size: 25px;
    margin-bottom: 33px;
    text-align: left;
}

.title > span {
    color: var(--color-blue-highlight);
}
.description {
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--color-grey);
    line-height: 24px;
}

.contactBtn {
    text-decoration: none;
    background-color: none;
    color: white;
    border: 1px solid var(--color-blue-highlight);
    padding: 8px 16px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid var(--color-grey);
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    scroll-behavior: smooth;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid var(--color-grey);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

/* Multi Screen Adjustments */
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }

    .callToAction {
        flex-direction: column;
    }

    .hackerWithLinesAndDotsContainer > img {
        flex-direction: column;
        display: none;
    }

    .rabbitImage {
        width: 50%;
        z-index: 1;
        position: relative;
        display: none;
    }
}
