.redesContainer {
    position: absolute;
    top: 0;
    left: 1.5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
}

.logosSocialMedia {
    display: block;
    cursor: pointer;
}

.lineContainer {
    display: flex;
    justify-content: center;
}

.lineContainer > hr {
    border: 1px solid var(--color-grey);
    height: 250px;
    width: 1px;
}

@media screen and (max-width: 830px) {
    .redesContainer {
        display: block;
    }

    .lineContainer {
        display: none;
    }

    .logosSocialMedia {
        display: none;
    }
}
