* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Fira Code", monospace;

    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
}
