:root {
  /* colours */
  --color-text: white;
  --color-primary: #00ff41;
  --color-secondary: gray;
  --color-grey: #abb2bf;
  --color-bg: #282c33;
  --color-bg-secondary: #2d3035;

  /* Fonts */
  --font-robot: "Fira Code";
}
